/* EndTurnConfirmModal styles */

.end-turn-modal-header {
  background-color: #2c3e50;
  color: white;
}

.end-turn-modal-body {
  background-color: #34495e;
  color: white;
}

.end-turn-modal-footer {
  background-color: #2c3e50!important;
}